# Android / Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# IDE
.idea/
*.iml

# Kotlin
.kotlin/

# Node (se usar Firebase functions)
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Native build
.externalNativeBuild/
.cxx/
captures/
